<div class="navbar bg-base-100 shadow-sm">
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                </svg>
            </div>
        </div>
        <button routerLink="/new-landingpage" class="btn btn-ghost text-l">Home</button>
        <button routerLink="/faqs-general" class="btn btn-ghost text-l">FAQs</button>
        <button routerLink="/age-gating" class="btn btn-ghost text-l">Age gating</button>
        <button routerLink="/landing-page-retailer" class="btn btn-ghost text-l">Retailer</button>
        <button routerLink="/warehouse-reg" class="btn btn-ghost text-l">Warehouse</button>
        <button routerLink="/promo-events" class="btn btn-ghost text-l">Promotional Events</button>
        <button routerLink="/pslicense-landing" class="btn btn-ghost">PS
            License</button>
        <button routerLink="/soc-ccr-landing" class="btn btn-ghost btn-active text-l text-[#263081]">SOC/CCR</button>
        <a routerLink="/vaping-area" class="btn btn-ghost ">Designated Vaping Area</a>
    </div>
    <div class="navbar-end w-80 h-10 ml-100">
        <a><img src="assets/DTI-logo.png"></a>
    </div>
</div>


<div class="w-full h-[calc(50vh-2rem)] relative overflow-hidden">

    <div class="absolute inset-0 bg-[#263081CC] text-white p-4 z-10">
        <h1 class="text-5xl font-bold text-white opacity-100 text-center mt-20">Application for Standards Organization
            Certification </h1>
        <h2 class="text-3xl font-semibold text-white opacity-100 text-center mt-2">and Certificate of Compliance to
            Regulations </h2>

    </div>

    <img src="https://img.freepik.com/free-vector/organic-flat-people-business-training-illustration_23-2148902090.jpg?t=st=1745214521~exp=1745218121~hmac=5613a54b02a21072ba7f561e1049a485341304395e64391736ec558179f26a60&w=996"
        alt="makati-building" class="absolute inset-0 w-full h-full object-cover z-0 pointer-events-none select-none" />
</div>

<div class="flex flex-col md:flex-row items-center justify-center bg-[#FDFAF6] text-white p-10 shadow-lg h-140">
    <!-- Left Image -->
    <div class="w-full md:w-1/2 flex justify-center mb-4 md:mb-0 ">
        <img src="https://img.freepik.com/free-vector/interview-concept-illustration_114360-1678.jpg?t=st=1745215778~exp=1745219378~hmac=d121309e1e9d1ac3be2060d4d5cd6687810bf210499597906979643e90d3d071&w=740"
            alt="OSMV Illustration" class="w-5/5 max-w-md h-100 mt-2" />
    </div>

    <!-- Right Content -->
    <div class="w-full md:w-1/2 md:ml-2">
        <div class="text-lg font-medium mt-10 mb-4 text-[#263081]">Application for Standards Organization Certification
            (SOC) and Certificate of Compliance to Regulations (CCR)</div>
        <p class="text-base font-medium text-[#263081] mb-2 tracking-wider">
            In order to legally manufacture, import, distribute, or sell products in the Philippines, businesses must
            ensure that their products meet the required safety, quality, and regulatory standards. The Standards
            Organization Certification (SOC) and Certificate of Compliance to Regulations (CCR) are two critical
            certifications issued by the Department of Trade and Industry (DTI) to verify that products conform to these
            standards.<br>

            <br>
            The SOC ensures that the product meets the Philippine National Standards (PNS) or other internationally
            recognized standards for quality, performance, and safety. It is issued after thorough evaluation and
            testing by accredited organizations.<br>

            <br>The CCR verifies that the product complies with all specific regulations set by governing bodies such as
            the DTI, Food and Drug Administration (FDA), and other relevant authorities. This certification is necessary
            to ensure that the product is safe for consumer use and follows legal requirements for marketing and
            distribution.
        </p>




        <button routerLink="/soc-ccr-registration"><input type="button" value="Apply now!"
                class="bg-[#263081] text-white rounded-xl hover:bg-blue-700 focus:outline-none shadow-lg border border-transparent mt-2 h-10 w-40 btn" /><svg
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor"
                    d="M9 15.714V8.287q0-.368.244-.588q.243-.22.568-.22q.102 0 .213.028q.11.027.211.083l5.843 3.733q.186.13.28.298q.093.167.093.379t-.093.379t-.28.298l-5.843 3.733q-.101.055-.213.083t-.213.028q-.326 0-.568-.22T9 15.714" />
            </svg></button>
    </div>
</div>