<div class="navbar bg-base-100 shadow-sm">
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                </svg>
            </div>
        </div>
        <button routerLink="/new-landingpage" class="btn btn-ghost text-l">Home</button>
        <button routerLink="/faqs-general" class="btn btn-ghost text-l">FAQs</button>
        <button routerLink="/age-gating" class="btn btn-ghost text-l ">Age gating</button>
        <button routerLink="/landing-page-retailer" class="btn btn-ghost text-l ">Retailer</button>
        <button routerLink="/warehouse-reg" class="btn btn-ghost text-l">Warehouse</button>
        <button routerLink="/promo-events" class="btn btn-ghost text-l ">Promotional
            Events</button>
        <button routerLink="/pslicense-landing" class="btn btn-ghost">PS License</button>
        <button routerLink="/soc-ccr-landing" class="btn btn-ghost text-l">SOC/CCR</button>
        <button routerLink="/vaping-area" class="btn btn-ghost btn-active text-l text-[#263081]">Designated Vaping Area</button>
    </div>
    <div class="navbar-end w-80 h-10 ml-100">
        <a><img src="assets/DTI-logo.png"></a>
    </div>
</div>

<div class="text-5xl mt-5 text-center font-bold">
    <div class="text-6xl font-bold "></div> Oops! — We’re under construction.
    <p class="text-base mt-5 font-medium">
        If you need urgent help, you can reach us at <a class="btn-link text-[#263081]">osmvdti&#64;gov.com</a>
    </p>
    <img src="https://i.pinimg.com/736x/d9/05/ac/d905ace571d965f08539b21f827d3c7a.jpg"
        alt="under_maintenance_illustration" class="h-125 ml-90 w-160">
</div>