

<div class="min-h-screen flex flex-col bg-white text-gray-800">
  <!-- Navbar -->
  <div class="navbar bg-base-100 shadow-sm h-16">
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M4 6h16M4 12h8m-8 6h16" />
                </svg>
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                <li><a>Item 1</a></li>
                <li>
                    <a>Parent</a>
                    <ul class="p-2">
                        <li><a>Submenu 1</a></li>
                        <li><a>Submenu 2</a></li>
                    </ul>
                </li>
                <li><a>Item 3</a></li>
            </ul>
        </div>

        <button routerLink="/new-landingpage" class="btn btn-ghost text-l">Home</button>
    </div>
    <div class="navbar-end w-80 h-10 ml-100">
        <a><img src="assets/DTI-logo.png"></a>
    </div>
</div>

  <main class="container mx-auto px-4 py-8 flex-grow">
    <div class="registration-container">
      <h2 class="text-3xl font-bold mb-6 text-center md:text-left">
        User Registration
      </h2>

      <div class="flex flex-col md:flex-row gap-12">
        <ul class="steps steps-vertical steps-primary md:w-1/5">
          <li class="step" [ngClass]="{ 'step-primary': currentStep >= 1 }">Personal</li>
          <li class="step" [ngClass]="{ 'step-primary': currentStep >= 2 }">Organization</li>
          <li class="step" [ngClass]="{ 'step-primary': currentStep >= 3 }">Privacy</li>
        </ul>

        <form
          [formGroup]="form"
          (ngSubmit)="onRegister()"
          class="bg-gray-50 p-8 rounded shadow space-y-8 flex-1"
        >
         
          <div *ngIf="currentStep === 1" class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="relative">
              <input
                formControlName="email"
                type="email"
                placeholder=" "
                class="peer input input-bordered w-full bg-white text-black placeholder-transparent"
                id="email"
              />
              <label
                for="email"
                class="absolute left-2 top-2 text-gray-500 transition-all duration-200
                       peer-placeholder-shown:top-2 peer-placeholder-shown:left-2 
                       peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 
                       peer-focus:top-[-0.6rem] peer-focus:left-2 peer-focus:text-sm peer-focus:text-blue-600
                       peer-not-placeholder-shown:top-[-0.6rem] peer-not-placeholder-shown:left-2 
                       peer-not-placeholder-shown:text-sm peer-not-placeholder-shown:text-blue-600"
              >
                Email
              </label>
              <div class="error-text" *ngIf="form.get('email')?.touched">
                <ng-container *ngIf="form.get('email')?.hasError('required')">
                  Email is required
                </ng-container>
                <ng-container *ngIf="form.get('email')?.hasError('email')">
                  Invalid email format
                </ng-container>
              </div>
              <div class="error-text" *ngIf="emailErrorMsg">
                {{ emailErrorMsg }}
              </div>
            </div>

            <div class="relative">
              <input
                formControlName="firstName"
                type="text"
                placeholder=" "
                class="peer input input-bordered w-full bg-white text-black placeholder-transparent"
                id="firstName"
              />
              <label
                for="firstName"
                class="absolute left-2 top-2 text-gray-500 transition-all duration-200
                       peer-placeholder-shown:top-2 peer-placeholder-shown:left-2 
                       peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 
                       peer-focus:top-[-0.6rem] peer-focus:left-2 peer-focus:text-sm peer-focus:text-[#0D2E9E]
                       peer-not-placeholder-shown:top-[-0.6rem] peer-not-placeholder-shown:left-2 
                       peer-not-placeholder-shown:text-sm peer-not-placeholder-shown:text-[#0D2E9E]"
              >
                First Name
              </label>
              <div
                class="error-text"
                *ngIf="form.get('firstName')?.touched && form.get('firstName')?.hasError('required')"
              >
                First Name is required
              </div>
            </div>

            <div class="relative">
              <input
                formControlName="middleName"
                type="text"
                placeholder=" "
                class="peer input input-bordered w-full bg-white text-black placeholder-transparent"
                id="middleName"
              />
              <label
                for="middleName"
                class="absolute left-2 top-2 text-gray-500 transition-all duration-200
                       peer-placeholder-shown:top-2 peer-placeholder-shown:left-2 
                       peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 
                       peer-focus:top-[-0.6rem] peer-focus:left-2 peer-focus:text-sm peer-focus:text-[#0D2E9E]
                       peer-not-placeholder-shown:top-[-0.6rem] peer-not-placeholder-shown:left-2 
                       peer-not-placeholder-shown:text-sm peer-not-placeholder-shown:text-[#0D2E9E]"
              >
                Middle Name
              </label>
            </div>

            <div class="relative">
              <input
                formControlName="lastName"
                type="text"
                placeholder=" "
                class="peer input input-bordered w-full bg-white text-black placeholder-transparent"
                id="lastName"
              />
              <label
                for="lastName"
                class="absolute left-2 top-2 text-gray-500 transition-all duration-200
                       peer-placeholder-shown:top-2 peer-placeholder-shown:left-2
                       peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400
                       peer-focus:top-[-0.6rem] peer-focus:left-2 peer-focus:text-sm peer-focus:text-[#0D2E9E]
                       peer-not-placeholder-shown:top-[-0.6rem] peer-not-placeholder-shown:left-2 
                       peer-not-placeholder-shown:text-sm peer-not-placeholder-shown:text-[#0D2E9E]"
              >
                Last Name
              </label>
              <div
                class="error-text"
                *ngIf="form.get('lastName')?.touched && form.get('lastName')?.hasError('required')"
              >
                Last Name is required
              </div>
            </div>

            <div>
              <label class="block font-semibold mb-1">Gender</label>
              <div class="grid grid-cols-2 gap-2 mt-2">
                <label class="flex items-center gap-1">
                  <input
                    formControlName="gender"
                    type="radio"
                    value="Male"
                    class="radio radio-primary"
                  />
                  <span>Male</span>
                </label>
                <label class="flex items-center gap-1">
                  <input
                    formControlName="gender"
                    type="radio"
                    value="Female"
                    class="radio radio-primary"
                  />
                  <span>Female</span>
                </label>
                <label class="flex items-center gap-1">
                  <input
                    formControlName="gender"
                    type="radio"
                    value="Others"
                    class="radio radio-primary"
                  />
                  <span>Others</span>
                </label>
                <label class="flex items-center gap-1">
                  <input
                    formControlName="gender"
                    type="radio"
                    value="Prefer not to say"
                    class="radio radio-primary"
                  />
                  <span>Prefer not to say</span>
                </label>
              </div>
              <div
                class="error-text"
                *ngIf="form.get('gender')?.touched && form.get('gender')?.hasError('required')"
              >
                Gender is required
              </div>
            </div>

            <div>
              <label class="block font-semibold mb-1" for="socialClassification">
                Social Classification
              </label>
              <select
                id="socialClassification"
                formControlName="socialClassification"
                class="select select-bordered w-full bg-white text-black"
              >
                <option value="">None</option>
                <option value="PWD">PWD</option>
                <option value="Senior Citizen">Senior Citizen</option>
              </select>
            </div>

            <div class="relative">
              <input
                formControlName="password"
                type="password"
                placeholder=" "
                class="peer input input-bordered w-full bg-white text-black placeholder-transparent"
                id="password"
              />
              <label
                for="password"
                class="absolute left-2 top-2 text-gray-500 transition-all duration-200
                       peer-placeholder-shown:top-2 peer-placeholder-shown:left-2
                       peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400
                       peer-focus:top-[-0.6rem] peer-focus:left-2 peer-focus:text-sm peer-focus:text-blue-600
                       peer-not-placeholder-shown:top-[-0.6rem] peer-not-placeholder-shown:left-2 
                       peer-not-placeholder-shown:text-sm peer-not-placeholder-shown:text-blue-600"
              >
                Password
              </label>

              <div
                class="error-text"
                *ngIf="
                  form.get('password')?.touched &&
                  form.get('password')?.hasError('minlength')
                "
              >
                Password must be at least 8 characters
              </div>
            </div>

            <div class="relative">
              <input
                formControlName="passwordConfirm"
                type="password"
                placeholder=" "
                class="peer input input-bordered w-full bg-white text-black placeholder-transparent"
                id="passwordConfirm"
              />
              <label
                for="passwordConfirm"
                class="absolute left-2 top-2 text-gray-500 transition-all duration-200
                       peer-placeholder-shown:top-2 peer-placeholder-shown:left-2
                       peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400
                       peer-focus:top-[-0.6rem] peer-focus:left-2 peer-focus:text-sm peer-focus:text-blue-600
                       peer-not-placeholder-shown:top-[-0.6rem] peer-not-placeholder-shown:left-2 
                       peer-not-placeholder-shown:text-sm peer-not-placeholder-shown:text-blue-600"
              >
                Confirm Password
              </label>
            </div>

            <div class="error-text" *ngIf="
              form.get('passwordConfirm')?.touched &&
              form.get('passwordConfirm')?.hasError('passwordMismatch')
            ">
              Password does not match
            </div>

            <div class="relative">
              <input
                id="dob"
                formControlName="dob"
                type="date"
                placeholder=" "
                class="peer input input-bordered w-full bg-white text-black placeholder-transparent"
              />
              <label
                for="dob"
                class="absolute left-2 top-2 text-gray-500 transition-all duration-200
                       peer-placeholder-shown:top-2 peer-placeholder-shown:left-2
                       peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400
                       peer-focus:top-[-0.6rem] peer-focus:left-2 peer-focus:text-sm peer-focus:text-[#0D2E9E]
                       peer-not-placeholder-shown:top-[-0.6rem] peer-not-placeholder-shown:left-2 
                       peer-not-placeholder-shown:text-sm peer-not-placeholder-shown:text-[#0D2E9E]"
              >
                Date of Birth
              </label>
              <div
                class="error-text"
                *ngIf="form.get('dob')?.touched && form.get('dob')?.hasError('required')"
              >
                Date of Birth is required
              </div>
            </div>
          </div>

          <div *ngIf="currentStep === 2" class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="md:col-span-2">
              <h3 class="text-xl font-semibold mb-4">Organizational Info</h3>
            </div>

            <div class="relative">
              <input
                id="companyName"
                formControlName="companyName"
                type="text"
                placeholder=" "
                class="peer input input-bordered w-full bg-white text-black placeholder-transparent"
              />
              <label
                for="companyName"
                class="absolute left-2 top-2 text-gray-500 transition-all duration-200
                       peer-placeholder-shown:top-2 peer-placeholder-shown:left-2
                       peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400
                       peer-focus:top-[-0.6rem] peer-focus:left-2 peer-focus:text-sm peer-focus:text-[#0D2E9E]
                       peer-not-placeholder-shown:top-[-0.6rem] peer-not-placeholder-shown:left-2 
                       peer-not-placeholder-shown:text-sm peer-not-placeholder-shown:text-[#0D2E9E]"
              >
                Company Name
              </label>
              <div
                class="error-text"
                *ngIf="
                  form.get('companyName')?.touched &&
                  form.get('companyName')?.hasError('required')
                "
              >
                Company Name is required
              </div>
            </div>

            <div class="relative">
              <input
                id="companyAddress"
                formControlName="companyAddress"
                type="text"
                placeholder=" "
                class="peer input input-bordered w-full bg-white text-black placeholder-transparent"
              />
              <label
                for="companyAddress"
                class="absolute left-2 top-2 text-gray-500 transition-all duration-200
                       peer-placeholder-shown:top-2 peer-placeholder-shown:left-2
                       peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400
                       peer-focus:top-[-0.6rem] peer-focus:left-2 peer-focus:text-sm peer-focus:text-[#0D2E9E]
                       peer-not-placeholder-shown:top-[-0.6rem] peer-not-placeholder-shown:left-2 
                       peer-not-placeholder-shown:text-sm peer-not-placeholder-shown:text-[#0D2E9E]"
              >
                Company Address
              </label>
              <div
                class="error-text"
                *ngIf="
                  form.get('companyAddress')?.touched &&
                  form.get('companyAddress')?.hasError('required')
                "
              >
                Company Address is required
              </div>
            </div>

            <div class="relative">
              <input
                id="companyEmail"
                formControlName="companyEmail"
                type="email"
                placeholder=" "
                class="peer input input-bordered w-full bg-white text-black placeholder-transparent"
              />
              <label
                for="companyEmail"
                class="absolute left-2 top-2 text-gray-500 transition-all duration-200
                       peer-placeholder-shown:top-2 peer-placeholder-shown:left-2
                       peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400
                       peer-focus:top-[-0.6rem] peer-focus:left-2 peer-focus:text-sm peer-focus:text-[#0D2E9E]
                       peer-not-placeholder-shown:top-[-0.6rem] peer-not-placeholder-shown:left-2 
                       peer-not-placeholder-shown:text-sm peer-not-placeholder-shown:text-[#0D2E9E]"
              >
                Company Email (optional)
              </label>
            </div>

            <div class="relative">
              <input
                id="contactNumber"
                formControlName="contactNumber"
                type="text"
                placeholder=" "
                class="peer input input-bordered w-full bg-white text-black placeholder-transparent"
              />
              <label
                for="contactNumber"
                class="absolute left-2 top-2 text-gray-500 transition-all duration-200
                       peer-placeholder-shown:top-2 peer-placeholder-shown:left-2
                       peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400
                       peer-focus:top-[-0.6rem] peer-focus:left-2 peer-focus:text-sm peer-focus:text-[#0D2E9E]
                       peer-not-placeholder-shown:top-[-0.6rem] peer-not-placeholder-shown:left-2 
                       peer-not-placeholder-shown:text-sm peer-not-placeholder-shown:text-[#0D2E9E]"
              >
                Contact Number
              </label>
              <div
                class="error-text"
                *ngIf="
                  form.get('contactNumber')?.touched &&
                  form.get('contactNumber')?.hasError('required')
                "
              >
                Contact Number is required
              </div>
            </div>

            <div class="md:col-span-2">
              <label for="proofFile" class="block font-semibold mb-1">
                Proof of Document
              </label>
              <input
                id="proofFile"
                type="file"
                (change)="onFileSelected($event)"
                class="file-input file-input-bordered custom-file-input w-full bg-white text-black"
              />
            </div>
          </div>

          <div *ngIf="currentStep === 3">
            <div class="bg-white p-6 rounded shadow mb-4">
              <h3 class="text-xl font-semibold mb-2">Privacy Terms</h3>
              <p class="text-base mb-4">
                Please read and accept our Privacy Terms before proceeding.
              </p>
              <label class="flex items-center gap-2">
                <input
                  type="checkbox"
                  formControlName="agreeToTerms"
                  class="checkbox checkbox-primary"
                />
                <span>I agree to the terms</span>
              </label>
              <div
                class="error-text mt-2"
                *ngIf="
                  form.get('agreeToTerms')?.touched &&
                  form.get('agreeToTerms')?.hasError('required')
                "
              >
                You must agree to the terms before submitting
              </div>
            </div>
          </div>
  
          <div class="flex justify-end space-x-4">
            <button
              type="button"
              class="btn bg-gray-300 hover:bg-gray-400 text-black px-6 py-2 rounded"
              *ngIf="currentStep > 1"
              (click)="previousStep()"
            >
              Back
            </button>

            <button
              type="button"
              class="btn bg-[#0D2E9E] hover:bg-[#0c278b] text-white px-6 py-2 rounded"
              *ngIf="currentStep < totalSteps"
              (click)="nextStep()"
            >
              Next
            </button>

            <button
              type="submit"
              class="btn bg-[#0D2E9E] hover:bg-[#0c278b] text-white px-8 py-2 text-base font-semibold rounded"
              *ngIf="currentStep === totalSteps"
            >
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
  </main>

  <div
  *ngIf="showSuccessModal"
  class="fixed inset-0 z-50 flex items-center justify-center 
         bg-opacity-100 p-4"
>
  <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-sm text-gray-800">
    <h2 class="text-xl font-bold mb-4">Successful Registration!</h2>
    <p class="mb-6">
      Your account creation has submitted. Wait for the approval for 24 hours.
    </p>
    <div class="flex justify-end">
      <button
        class="btn bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded"
        (click)="closeSuccessModal()"
      >
        OK
      </button>
    </div>
  </div>
</div>
