<style>
  html {
    scroll-behavior: smooth;
  }
</style>

<div class="min-h-screen flex flex-col bg-white text-gray-800">
  <header class="sticky top-0 z-50">
    <div class="bg-gradient-to-r from-blue-900 to-blue-600 text-white relative">
      <div class="container mx-auto px-4 py-4 flex items-center justify-between">
        <div class="flex items-center space-x-4">
          <div class="bg-white p-1 rounded shadow">
            <img
              src="assets/1-dti.png"
              alt="DTI Logo"
              class="h-12 w-auto"
            />
          </div>
          <h1 class="text-2xl md:text-3xl font-bold">
            Department of Trade and Industry - OSMV
          </h1>
        </div>
        <nav>
          <ul class="flex space-x-6 text-lg md:text-xl font-semibold">
            <li>
              <a href="#" class="hover:text-blue-200 transition-colors"
                >Home</a
              >
            </li>
            <li>
              <a href="assets/a_oia.gif" class="hover:text-blue-200 transition-colors"
                >Search</a
              >
            </li>
            <li>
              <a href="#" class="hover:text-blue-200 transition-colors"
                >Feedback</a
              >
            </li>
            <li>
              <a href="#" class="hover:text-blue-200 transition-colors"
                >Contact Us</a
              >
            </li>
            <li>
              <ng-container *ngIf="pb.isLoggedIn(); else notLoggedIn">
                <a (click)="openLogoutModal()" class="hover:text-blue-200 transition-colors">
                  Logout
                </a>
              </ng-container>
              <ng-template #notLoggedIn>
                <a routerLink="/login" class="hover:text-blue-200 transition-colors">
                  Login
                </a>
              </ng-template>
            </li>
            <div>
              {{ firstName }}
            </div>
          </ul>
        </nav>
      </div>
      <svg
        class="w-full h-12 text-white -mt-1"
        preserveAspectRatio="none"
        viewBox="0 0 1440 320"
      >
        <path
          fill="currentColor"
          fill-opacity="1"
          d="M0,64L48,74.7C96,85,192,107,288,138.7C384,171,480,213,576,213.3C672,213,768,171,864,154.7C960,139,1056,149,1152,165.3C1248,181,1344,203,1392,213.3L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
        ></path>
      </svg>
    </div>
  </header>

  <main class="container mx-auto px-4 py-8 flex-grow text-2xl">
    <div class="carousel w-full h-64 mb-8 rounded-3xl overflow-hidden relative shadow">
      <div id="slide1" class="carousel-item relative w-full">
        <img
          src="assets/OSMV_Header.png"
          alt="Slide 1"
          class="w-full h-full object-cover"
        />
        <div
          class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
        >
          <a href="#slide3" class="btn btn-circle">❮</a>
          <a href="#slide2" class="btn btn-circle">❯</a>
        </div>
      </div>
      <div id="slide2" class="carousel-item relative w-full">
        <img
          src="assets/dti_2.jpg"
          alt="Slide 2"
          class="w-full h-full object-cover"
        />
        <div
          class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
        >
          <a href="#slide1" class="btn btn-circle">❮</a>
          <a href="#slide3" class="btn btn-circle">❯</a>
        </div>
      </div>
      <div id="slide3" class="carousel-item relative w-full">
        <img
          src="assets/dti_3.jpg"
          alt="Slide 3"
          class="w-full h-full object-cover"
        />
        <div
          class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
        >
          <a href="#slide2" class="btn btn-circle">❮</a>
          <a href="#slide1" class="btn btn-circle">❯</a>
        </div>
      </div>
    </div>

    <h1 class="text-4xl font-bold mb-6">
      OSMV - <span class="text-red-600">(IREGIS)</span>
    </h1>

    <ol class="list-decimal list-inside space-y-6 text-gray-800">
      <li>
        <strong class="cursor-pointer text-blue-700 hover:underline">
          What is OSMV?
        </strong>
        <div class="mt-3 bg-gray-50 p-6 rounded shadow-sm text-gray-700 leading-relaxed text-xl">
          <p>
            The Office for the Special Mandate on Vaporized Nicotine and
            Non-Nicotine Products, their Devices, and Novel Tobacco Products
            (OSMV) is dedicated to regulating the vaporized nicotine and novel
            tobacco market, ensuring consumer safety and compliance with
            RA11900, the Vaporized Nicotine and Non-Nicotine Products Regulation
            Act, also known as the Vape Law.
          </p>
          <p class="mt-4">
            It was established under DTI Department Order No. 24-154 (DO24-154)
            in 2024. Focused on implementing RA11900, its mandate includes the
            proper collection of taxes and the effective regulation of both
            online and physical advertising and sales of vaporized nicotine,
            non-nicotine products, their devices, and novel tobacco products,
            ensuring alignment with internationally accepted product standards.
          </p>
        </div>
      </li>
      <li>
        <strong class="cursor-pointer text-blue-700 hover:underline">
          PS License
        </strong>
        <div class="mt-3 bg-gray-50 p-6 rounded shadow-sm text-gray-700 leading-relaxed text-xl">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
            fermentum nunc at sapien aliquam, eget venenatis turpis ullamcorper.
            Pellentesque fringilla ex non nisl gravida, vel elementum libero
            aliquam.
          </p>
          <p class="mt-4">
            Quisque aliquam sem odio, non ultrices orci hendrerit sit amet. Duis
            tempus orci nulla, ac egestas justo vulputate quis. Nulla facilisi.
            Fusce iaculis cursus quam, quis gravida diam volutpat non.
          </p>
        </div>
      </li>
      <li>
        <strong class="cursor-pointer text-blue-700 hover:underline">
          CCR and SOC Application
        </strong>
        <div class="mt-3 bg-gray-50 p-6 rounded shadow-sm text-gray-700 leading-relaxed text-xl">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
            sodales consequat nunc, at aliquam libero faucibus non. In hac
            habitasse platea dictumst. Vestibulum suscipit sapien ut sapien
            aliquam, et lobortis ex lobortis.
          </p>
          <p class="mt-4">
            Curabitur elementum justo ut augue porta, sit amet tempus magna
            finibus. Morbi id arcu sit amet neque cursus semper. Nullam ac
            lectus viverra, vulputate eros non, porta nibh.
          </p>
        </div>
      </li>
      <li>
        <strong class="cursor-pointer text-blue-700 hover:underline">
          Designated Vaping Area
        </strong>
        <div class="mt-3 bg-gray-50 p-6 rounded shadow-sm text-gray-700 leading-relaxed text-xl">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
            vestibulum, magna at pretium faucibus, lorem eros fringilla ante, a
            aliquam nisl velit a nisl. Nunc sodales risus vitae viverra cursus.
          </p>
          <p class="mt-4">
            Proin scelerisque elit eget justo fermentum, in luctus nunc
            tincidunt. Nulla dapibus orci nec bibendum auctor. Aliquam vehicula
            maximus ultricies. Fusce quis ex in magna eleifend semper.
          </p>
        </div>
      </li>
      <li>
        <a
          routerLink="/age-gating"
          class="cursor-pointer text-blue-700 hover:underline font-bold"
          >Age-gating</a
        >
        <div class="mt-3 bg-gray-50 p-6 rounded shadow-sm text-gray-700 leading-relaxed text-xl">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
            commodo, nulla a faucibus blandit, erat nulla eleifend justo, et
            pretium lacus enim id nunc. Donec ac semper orci, vitae congue
            libero.
          </p>
          <p class="mt-4">
            Suspendisse nec tellus dignissim, bibendum erat at, aliquet diam.
            Phasellus a semper nulla, a gravida orci. Pellentesque pulvinar odio
            eget justo feugiat ultricies. Vivamus quis nisl auctor, pharetra
            lacus sit amet, mollis velit.
          </p>
        </div>
      </li>
      <li>
        <a
          routerLink="/retailer-regis"
          class="cursor-pointer text-blue-700 hover:underline font-bold"
          >Retailer Registration</a
        >
        <div class="mt-3 bg-gray-50 p-6 rounded shadow-sm text-gray-700 leading-relaxed text-xl">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            vehicula dolor quis lorem varius, quis fringilla orci tempus.
            Pellentesque quis quam eget orci pulvinar semper eget quis felis.
          </p>
          <p class="mt-4">
            In dapibus accumsan purus, in congue turpis interdum at. Maecenas
            semper, lacus a dapibus facilisis, erat turpis pellentesque nisl,
            vitae commodo nisl ante nec dui.
          </p>
        </div>
      </li>
      <li>
        <a
          routerLink="/warehouse-reg"
          class="cursor-pointer text-blue-700 hover:underline font-bold"
          >Warehouse Registration</a
        >
        <div class="mt-3 bg-gray-50 p-6 rounded shadow-sm text-gray-700 leading-relaxed text-xl">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
            eget tortor a arcu pretium varius. Aliquam semper sodales orci, at
            rhoncus nibh feugiat sed. Fusce tristique aliquam ipsum, sed varius
            nibh blandit nec.
          </p>
          <p class="mt-4">
            Praesent tincidunt auctor tellus, et facilisis risus molestie quis.
            Nulla ultricies metus quis orci consectetur, et sollicitudin urna
            ullamcorper. Duis nec volutpat augue. Donec at turpis eros.
          </p>
        </div>
      </li>
    </ol>
  </main>

  <footer class="bg-blue-900 text-white py-8">
    <div class="container mx-auto px-4 grid grid-cols-1 md:grid-cols-3 gap-8">
      <div>
        <h2 class="font-bold mb-2">OFFICE HOURS</h2>
        <p>
          Monday - Friday<br />
          8:00 am - 5:00 pm<br />
          (except holidays)
        </p>
        <h2 class="font-bold mt-4 mb-2">CUSTOMER CONTACT CENTER</h2>
        <p>
          Monday - Sunday<br />
          8:00 am - 5:00 pm<br />
          (except holidays)
        </p>
        <p class="mt-4">
          Telephone: 1-DTI (384)<br />
          Mobile: (917) 831-3330<br />
        </p>
        <p class="mt-4">Trunkline: (632) 7791-3100</p>
      </div>
      <div>
        <h2 class="font-bold mb-2">MAIN OFFICE ADDRESS</h2>
        <p>
          Finest Bldg.,<br />
          387 Sen. Gil J. Puyat Ave.,<br />
          1200 Makati City, Philippines
        </p>
      </div>
      <div>
        <h2 class="font-bold mb-2">QUICK LINKS</h2>
        <ul class="space-y-1">
          <li><a href="#" class="underline hover:text-gray-200">Terms and Conditions</a></li>
          <li><a href="#" class="underline hover:text-gray-200">Website Privacy Policy</a></li>
          <li><a href="#" class="underline hover:text-gray-200">Downloads</a></li>
          <li><a href="#" class="underline hover:text-gray-200">Career Opportunities</a></li>
          <li><a href="#" class="underline hover:text-gray-200">Freedom of Information</a></li>
          <li><a href="#" class="underline hover:text-gray-200">Data Privacy (DTI)</a></li>
          <li><a href="#" class="underline hover:text-gray-200">Archives</a></li>
          <li><a href="#" class="underline hover:text-gray-200">Links</a></li>
          <li><a href="#" class="underline hover:text-gray-200">Serbisyo</a></li>
          <li><a href="#" class="underline hover:text-gray-200">E-Services</a></li>
          <li><a href="#" class="underline hover:text-gray-200">List of DTI Online Services</a></li>
          <li><a href="#" class="underline hover:text-gray-200">Philippine National Trade Repository</a></li>
        </ul>
        <p class="font-bold mt-4 mb-2">FOLLOW US</p>
        <div class="flex space-x-2">
          <a href="#" class="hover:text-gray-200">FB Icon</a>
          <a href="#" class="hover:text-gray-200">Twitter Icon</a>
          <a href="#" class="hover:text-gray-200">IG Icon</a>
        </div>
      </div>
    </div>
  </footer>
</div>

<div
  *ngIf="showLogoutModal"
  class="fixed inset-0 z-50 flex items-center justify-center bg-gray-900 bg-opacity-75"
>
  <div class="bg-white rounded-lg p-6 shadow-lg max-w-sm w-full mx-4 text-gray-800">
    <h2 class="text-xl font-bold mb-4">Confirm Logout</h2>
    <p class="mb-6 text-gray-700">
      Are you sure you want to log out?
    </p>
    <div class="flex justify-end space-x-4">
      <button
        (click)="cancelLogout()"
        class="px-4 py-2 rounded bg-gray-300 text-gray-700 hover:bg-gray-400"
      >
        No
      </button>
      <button
        (click)="confirmLogout()"
        class="px-4 py-2 rounded bg-red-600 text-white hover:bg-red-700"
      >
        Yes
      </button>
    </div>
  </div>
</div>
