<div class="navbar bg-base-100 shadow-sm">
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                </svg>
            </div>
        </div>
        <button routerLink="/new-landingpage" class="btn btn-ghost text-l">Home</button>
        <button routerLink="/faqs-general" class="btn btn-ghost text-l">FAQs</button>
        <button routerLink="/age-gating" class="btn btn-ghost text-l">Age gating</button>
        <button routerLink="/landing-page-retailer" class="btn btn-ghost text-l">Retailer</button>
        <button routerLink="/warehouse-reg" class="btn btn-ghost text-l">Warehouse</button>
        <a class="btn btn-ghost text-l">Vape Registration</a>
        <a class="btn btn-ghost text-l">PS License</a>
        <a class="btn btn-ghost text-l">SOC/CCR</a>
        <a class="btn btn-ghost text-l">Designated Vaping Area</a>
    </div>
    <div class="navbar-end w-80 h-10 ml-100">
        <a><img src="assets/DTI-logo.png"></a>
    </div>
</div>

<div class="w-full h-[calc(50vh-2rem)] relative overflow-hidden">

    <div class="absolute inset-0 bg-[#263081B3] text-white p-4 z-10">
        <!-- <h1 class="text-6xl font-bold text-white opacity-100 text-center mt-20"> OSMV</h1>
        <h2 class="text-xl font-medium text-white opacity-100 text-center mt-2">OFFICE FOR THE SPECIAL MANDATE ON
            VAPORIZED NICOTINE AND NON-NICOTINE PRODUCTS</h2> -->

    </div>


    <img src="assets/dti_2.jpg" alt="OSMV"
        class="absolute inset-0 w-full h-full object-cover z-0 pointer-events-none select-none" />
</div>

<div class="flex flex-col md:flex-row items-center justify-center bg-[#FDFAF6] text-white p-10 shadow-lg h-120">
    <!-- Left Image -->
    <div class="w-full md:w-1/2 flex justify-center mb-4 md:mb-0 ">
        <img src="https://i.pinimg.com/736x/08/8c/09/088c099c81191b734e0db14f0e253142.jpg " alt="OSMV Illustration"
            class="w-3/5 max-w-md h-90 mt-6" />
    </div>

    <!-- Right Content -->
    <div class="w-full md:w-1/2 md:pl-10">
        <div class="text-lg font-medium mt-5 mb-6 text-[#263081]">The Office for the Special Mandate on Vaporized
            Nicotine and Non-Nicotine Products (OSMV) was established to address the rapidly evolving landscape of
            vaporized products, including electronic nicotine delivery systems such as e-cigarettes, vapes, and a
            growing range of non-nicotine vaporized alternatives. </div>
        <p class="text-base font-medium text-[#263081] mb-8 tracking-wider">
            The Certificate of Registration (COR) ensures that the business is officially recognized by regulatory
            authorities
            and can legally engage in the sale or distribution of vape products.

        </p>
        <p class="mb-3 text-sm text-[#263081]">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
        </p>
        <p class="mb-6 text-sm text-[#263081]">
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.
        </p>

        <button routerLink="/retailer-regis" class="btn btn-soft text-base rounded-xl w-40  hover:text-[#263081] ">Learn
            more <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor"
                    d="M9 15.714V8.287q0-.368.244-.588q.243-.22.568-.22q.102 0 .213.028q.11.027.211.083l5.843 3.733q.186.13.28.298q.093.167.093.379t-.093.379t-.28.298l-5.843 3.733q-.101.055-.213.083t-.213.028q-.326 0-.568-.22T9 15.714" />
            </svg></button>
    </div>
</div>