<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaint</title>
</head>

<body>
    <div class="flex flex-col md:flex-row gap-4 mt-6 justify-center min-h-screen bg-white">
        <!-- Exit Icon -->
        <div class="exit mt-4 mx-4">
            <a routerLink="/final-landing-page">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                    <path fill="none" stroke="#263081" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M21 12a9 9 0 1 1-18 0a9 9 0 0 1 18 0m-6-3l-6 6m0-6l6 6" />
                </svg>
            </a>
        </div>

        <div class="text-center font-bold px-2">
            <h1 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl text-[#263081] mb-4">
                Oops! — We’re under construction.
            </h1>
            <p class="text-sm sm:text-base md:text-lg font-medium text-gray-700 mb-6">
                If you need urgent help, you can reach us at
                <a href="mailto:osmvdti@gov.com" class="text-[#263081] underline">osmvdti&#64;gov.com</a>
            </p>
            <img src="https://i.pinimg.com/736x/d9/05/ac/d905ace571d965f08539b21f827d3c7a.jpg"
                alt="under_maintenance_illustration"
                class="h-40 sm:h-80 md:h-96 lg:h-125 xl:h-[500px] w-auto mx-auto object-contain" />
        </div>
    </div>

</body>

</html>