<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li><a>Item 1</a></li>
        <li>
          <a>Parent</a>
          <ul class="p-2">
            <li><a>Submenu 1</a></li>
            <li><a>Submenu 2</a></li>
          </ul>
        </li>
        <li><a>Item 3</a></li>
      </ul>
    </div>
    <button routerLink="/new-landingpage" class="btn btn-ghost text-l">Home</button>
    <a routerLink="#" class="btn btn-ghost text-l">FAQs</a>
    <button routerLink="/age-gating" class="btn btn-ghost text-l">Age gating</button>
    <button routerLink="/landing-page-retailer" class="btn btn-ghost text-l">Retailer</button>
    <button routerLink="/warehouse-reg" class="btn btn-ghost text-l">Warehouse</button>
    <a class="btn btn-ghost text-l">Vape Registration</a>
    <a class="btn btn-ghost text-l">PS License</a>
    <a class="btn btn-ghost text-l">SOC/CCR</a>
    <a class="btn btn-ghost text-l">Designated Vaping Area</a>
  </div>
  <div class="navbar-end w-80 h-10 ml-100">
    <a><img src="assets/DTI-logo.png"></a>
  </div>
</div>

<div class="flex flex-col md:flex-row items-center justify-center bg-[#263081] text-white p-10 shadow-lg h-154">
  <!-- Left Image -->
  <div class="w-full md:w-1/2 flex justify-center mb-4 md:mb-0">
    <img src="assets/OSMV-illustration.png" alt="OSMV Illustration" class="w-4/5 max-w-md mt-6" />
  </div>

  <!-- Right Content -->
  <div class="w-full md:w-1/2 md:pl-10">
    <h1 class="text-4xl font-bold -mt-12 mb-4">Application for Certificate of Registration (COR) </h1>
    <p class="uppercase text-base text-gray-300 mb-10 tracking-wider">
      for <button routerLink="/retailer-regis" class="hover:font-medium hover:text-green-500">WHOLESALER</button> /
      <button routerLink="/retailer-regis" class="hover:font-medium hover:text-green-500">TRADER</button>  / Distributor / Retailer
    </p>
    <p class="mb-3 text-sm text-gray-300">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      nisi ut aliquip ex ea commodo consequat.
    </p>
    <p class="mb-6 text-sm text-gray-300">
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <button routerLink="/retailer-regis" class="btn btn-soft text-base rounded-xl w-40  hover:text-[#263081] ">Apply now! <svg
        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path fill="currentColor"
          d="M9 15.714V8.287q0-.368.244-.588q.243-.22.568-.22q.102 0 .213.028q.11.027.211.083l5.843 3.733q.186.13.28.298q.093.167.093.379t-.093.379t-.28.298l-5.843 3.733q-.101.055-.213.083t-.213.028q-.326 0-.568-.22T9 15.714" />
      </svg></button>
  </div>
</div>