<div class="flex min-h-screen items-center justify-center bg-gray-100">
    <div class="bg-white p-6 rounded-lg shadow-lg w-96">
      <h2 class="text-xl font-bold mb-4 text-center">Forgot Password</h2>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="space-y-4">
        <div>
          <label for="email" class="block text-sm font-medium text-gray-700">Email Address</label>
          <input id="email" type="email" formControlName="email" class="mt-1 p-2 w-full border rounded-md" />
        </div>
        <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600" [disabled]="forgotPasswordForm.invalid">
          Reset Password
        </button>
    </form>
    </div>
  </div>
  