<div class="header">
  <div
    class="absolute top-0 left-0 right-0 bg-gradient-to-r from-[rgba(0,0,0,0.5)] to-transparent text-white p-4 shadow-lg z-10 h-155">
  </div>
  <div
    class="absolute top-0 left-0 right-0 bg-gradient-to-r from-[rgba(0,0,0,0.5)] to-transparent text-white p-4 shadow-lg z-10 h-155">
    <h1 class="text-6xl ml-20 font-bold mt-30">Department of Trade and</h1>
    <h1 class="text-6xl ml-20 font-bold mt-5">Industry - OSMV</h1>
    <p class="text-lg ml-20 mt-5">Welcome to the Office for the Special Mandate on Vaporized <br>Products — advancing
      public safety through smart regulation.</p>
    <button routerLink="/new-login"><input type="button" value="Apply now!"
        class="bg-[#263081] text-white rounded-xl p-3 hover:bg-blue-700 focus:outline-none shadow-lg border border-transparent hover:border-blue-700 hover:p-4 ml-19 mt-4 h-14 w-30 btn" /></button>

    <div class="absolute top-0 right-0 flex space-x-4 mr-6 mt-6">
      <ng-container *ngIf="!pb.isLoggedIn(); else loggedInNav">
        <button routerLink="/new-login">
          <input type="button" value="Login"
            class="bg-[#263081] text-white rounded-2xl hover:bg-blue-700 focus:outline-none shadow-lg border border-transparent hover:border-blue-600 h-10 w-20 btn" />
        </button>
        <button routerLink="/landing-registration">
          <input type="button" value="Signup"
            class="bg-[#FDFAF6] text-[#263081] rounded-2xl hover:bg-blue-700 focus:outline-none shadow-lg border border-transparent hover:border-blue-600 hover:text-white h-10 w-20 btn" />
        </button>
      </ng-container>

      <ng-template #loggedInNav>
        <div class="text-white pt-2 mr-2">
          Hello, {{ firstName }}
        </div>
        <button (click)="openLogoutModal()">
          <input type="button" value="Logout"
            class="bg-[#263081] text-white rounded-2xl hover:bg-blue-700 focus:outline-none shadow-lg border border-transparent hover:border-blue-600 h-10 w-20 btn" />
        </button>
      </ng-template>
    </div>
  </div>
  <img src="assets/header.png" alt="dti-building" class="w-340 h-155">

  <div *ngIf="showLogoutModal" class="fixed inset-0 flex items-center justify-center z-50">
    <div class="fixed inset-0 bg-black/30 backdrop-blur-sm"></div>
    <div
      class="bg-white p-8 rounded-2xl shadow-xl max-w-sm w-full mx-4 z-50 relative transform transition-all scale-100">
      <h3 class="text-xl font-semibold text-gray-800 mb-4">Confirm Logout</h3>
      <p class="text-gray-600 mb-8">Are you sure you want to logout from your account?</p>
      <div class="flex justify-end space-x-4">
        <button (click)="cancelLogout()"
          class="px-6 py-2.5 bg-gray-100 rounded-lg hover:bg-gray-200 text-gray-700 font-medium transition-colors duration-200">
          Cancel
        </button>
        <button (click)="confirmLogout()"
          class="px-6 py-2.5 bg-[#263081] text-white rounded-lg hover:bg-blue-700 font-medium transition-colors duration-200">
          Logout
        </button>
      </div>
    </div>
  </div>
</div>

<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
    </div>
    <button routerLink="/new-landingpage" class="btn btn-ghost text-l">Home</button>
    <button routerLink="/faqs-general" class="btn btn-ghost text-l">FAQs</button>
    <button routerLink="/age-gating" class="btn btn-ghost text-l">Age gating</button>
    <button routerLink="/landing-page-retailer" class="btn btn-ghost text-l">Retailer</button>
    <button routerLink="/warehouse-reg" class="btn btn-ghost text-l">Warehouse</button>
    <button routerLink="/promo-events" class="btn btn-ghost text-l">Promotional Events</button>
    <button routerLink="/pslicense-landing" class="btn btn-ghost text-l">PS License</button>
    <button routerLink="/soc-ccr-landing" class="btn btn-ghost text-l">SOC/CCR</button>
    <button routerLink="/vaping-area" class="btn btn-ghost ">Designated Vaping Area</button>
  </div>
  <div class="navbar-end w-80 h-10 ml-100">
    <a><img src="assets/DTI-logo.png"></a>
  </div>
</div>


<div class="flex flex-col md:flex-row items-center justify-center bg-[#263081] text-white p-10 shadow-lg h-154">

  <div class="w-full md:w-1/2 flex justify-center mb-4 md:mb-0">
    <img src="assets/OSMV-illustration.png" alt="OSMV Illustration" class="w-4/5 max-w-md mt-6" />
  </div>

  <div class="w-full md:w-1/2 md:pl-10">
    <h1 class="text-4xl font-bold -mt-14 mb-6">What is OSMV?</h1>
    <p class="uppercase text-base text-gray-300 mb-12 tracking-wider">
      OFFICE FOR THE SPECIAL MANDATE ON VAPORIZED NICOTINE AND NON-NICOTINE PRODUCTS
    </p>
    <p class="mb-3 text-sm text-gray-300">
      The Office for the Special Mandate on Vaporized Nicotine and Non-Nicotine Products, their Devices, and Novel
      Tobacco Products (OSMV) is dedicated to
      regulating the vaporized nicotine and novel tobacco market, ensuring consumer safety and compliance with RA11900,
      the Vaporized Nicotine and
      Non-Nicotine Products Regulation Act, also known as the Vape Law.
    </p>
    <p class="mb-6 text-sm text-gray-300">
      It was established under DTI Department Order No. 24-154 (DO24-154) in 2024. Focused on implementing RA11900, its
      mandate includes the proper collection of taxes and the effective regulation of
      both online and physical advertising
      and sales of vaporized nicotine, non-nicotine products, their devices, and novel tobacco products,
      ensuring alignment with internationally accepted product standards.
    </p>

    <button class="btn btn-soft text-base rounded-xl w-40  hover:text-[#263081] ">Learn more <svg
        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path fill="currentColor"
          d="M9 15.714V8.287q0-.368.244-.588q.243-.22.568-.22q.102 0 .213.028q.11.027.211.083l5.843 3.733q.186.13.28.298q.093.167.093.379t-.093.379t-.28.298l-5.843 3.733q-.101.055-.213.083t-.213.028q-.326 0-.568-.22T9 15.714" />
      </svg></button>
  </div>
</div>

<div class="carousel w-full">
  <div id="slide1" class="carousel-item relative w-full">
    <img src="assets/dti_2.jpg" class="w-full" />
    <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
      <a href="#slide4" class="btn btn-circle">❮</a>
      <a href="#slide2" class="btn btn-circle">❯</a>
    </div>
  </div>
  <div id="slide2" class="carousel-item relative w-full">
    <img src="assets/dti_1.jpg" class="w-full" />
    <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
      <a href="#slide1" class="btn btn-circle">❮</a>
      <a href="#slide3" class="btn btn-circle">❯</a>
    </div>
  </div>
  <div id="slide3" class="carousel-item relative w-full">
    <img src="assets/dti_3.jpg" class="w-full" />
    <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
      <a href="#slide2" class="btn btn-circle">❮</a>
      <a href="#slide1" class="btn btn-circle">❯</a>
    </div>
  </div>
</div>

<!--Footer-->
<footer class="relative bg-[#263081] text-white p-10 ">
  <img src="assets/dti-footer.png" class="absolute w-2/3 px-20 opacity-20 z-0" />

  <div class="relative z-10 flex flex-wrap justify-between">
    <div class="w-1/3 space-y-4">
      <h6 class="text-lg font-bold">MAIN OFFICE ADDRESS</h6>
      <p class="text-sm">
        Finest Bldg.<br />
        389 Sen. Gil J. Puyat Ave.,<br />
        1200 Makati City, Philippines
      </p>

      <h6 class="text-lg font-bold mt-4">OFFICE HOURS</h6>
      <p class="text-sm">
        Monday - Friday<br />
        8:00 am - 5:00 pm<br />
        (except holidays)
      </p>

      <h6 class="text-lg font-bold mt-4">CUSTOMER CONTACT CENTER</h6>
      <p class="text-sm">
        Monday - Sunday<br />
        8:00 am - 5:00 pm<br />
        (except holidays)<br />
        Telephone: 1-791 (584)<br />
        Mobile: (0917) 834-3300<br />
        Trunkline: (632) 7791-3100
      </p>
    </div>

    <div class="w-1/3 space-y-4">
      <h6 class="text-lg font-bold">QUICK LINKS</h6>
      <ul class="text-sm space-y-1">
        <li><a href="#" class="hover:underline">Terms and Conditions</a></li>
        <li><a href="#" class="hover:underline">Website Privacy Policy</a></li>
        <li><a href="#" class="hover:underline">Downloads</a></li>
        <li><a href="#" class="hover:underline">Career Opportunities</a></li>
        <li><a href="#" class="hover:underline">Freedom of Information</a></li>
        <li><a href="#" class="hover:underline">Data Privacy (DTI)</a></li>
        <li><a href="#" class="hover:underline">Archives</a></li>
        <li><a href="#" class="hover:underline">Links</a></li>
        <li><a href="#" class="hover:underline">E-Services</a></li>
        <li>
          <a href="#" class="hover:underline">List of DTI Online Services</a>
        </li>
        <li>
          <a href="#" class="hover:underline">Philippine National Trade Repository</a>
        </li>
      </ul>
    </div>

    <div class="w-1/3 text-center">
      <h6 class="text-lg font-bold">FOLLOW US</h6>
      <div class="flex justify-center space-x-4 mt-2 flex-wrap">
        <a href="#" class="py-10 px-5"><img src="assets/www-icon.png" class="w-8 h-7" alt="Website" />dti.gov.ph</a>
        <a href="#" class="py-10 px-5"><img src="assets/x-icon.png" class="w-8 h-7" alt="Twitter" />DTIPhilippines</a>
        <a href="#" class="py-10"><img src="assets/youtube-icon.png" class="w-8 h-7" alt="YouTube" />DTIPhilippines</a>
        <a href="#" class="py-5 px-5"><img src="assets/fb-icon.png" class="w-8 h-7" alt="Facebook" />DTI.Philippines</a>
        <a href="#" class="py-5"><img src="assets/instagram-icon.png" class="w-8 h-7"
            alt="Instagram" />DTIPhilippines</a>
      </div>
    </div>
  </div>
</footer>